@import './../../../variables';

app-date-picker {
    .ngb-dp-header {
        .ngb-dp-arrow-btn {
            color: $slate-gray;

            &:focus {
                outline-width: 0px;
                box-shadow: none;
            }
        }
    }

    .ngb-dp-weekday {
        color: $royal-blue;
    }

    .ngb-dp-day {

        .custom-day {
            text-align: center;
            padding: 0.185rem 0.25rem;
            display: inline-block;
            height: 2rem;
            width: 2rem;

            &.focused {
                background-color: #e6e6e6;
            }

            &.range,
            &:hover {
                background-color: $royal-blue;
                color: white;
            }

            &.faded {
                background-color: $slate-gray;
            }
        }

        &.ngb-dp-today {
            border: 1px solid $royal-blue;
            background-color: $light-slate-gray;
            color: white;
        }
    }
}