@import '../../../variables';

:host {
    .favorites-view {
        overflow: auto;
        padding: 10px;
        height: 100%;
        width: 100%;
        padding: 10px;

        .empty {
            width: 420px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            color: $royal-blue;

            h1 {
                margin-top: 120px;
            }

            .pic {
                margin-top: 60px;
                margin-bottom: 60px;
                width: 412px;
                height: 136px;
                margin-left: auto;
                margin-right: auto;
                max-width: 380px;
                background-image: url($image-path+'favoriten-leer.png');
            }
        }

        @media screen and (max-width: $mobile-max-width) {
            .empty {
                width: 90%;

                h1 {
                    margin-top: 10%;
                }

                .pic {
                    margin-top: 5%;
                    margin-bottom: 5%;
                    width: 100%;
                    max-width: 412px;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }

        .favorite-controls {
            display: flex;
            justify-content: center;

            .spacer {
                flex: 0 0 10px;
            }

            @media screen and (max-width: $mobile-max-width) {
                .spacer {
                    flex: 1;
                }
            }
        }
    }
}