<div class="ts-item" [ngClass]="{'selected': added}">
  <div>
    <div class="big">{{timeseries.parameters.procedure.label | translate}}</div>
    <div class="mid">
      <span translate="map.station.category"></span>:
      <span>{{timeseries.parameters.category.label | translate}}</span>
    </div>
    <div class="mid" *ngIf="timeseries.lastValue">
      <span translate="map.station.lastValue"></span>
      <span class="last-value"></span>
      <span>{{timeseries.lastValue.value}}</span>
      <span>{{timeseries.uom}}</span>
      <span> | {{timeseries.lastValue.timestamp | tzDate : 'L LT z'}}</span>
    </div>
  </div>
  <div class="wv-button add" (click)="toggleTs()" [ngClass]="{'active': added}">
    <span class="icon icon-timeline-add"
      [ngClass]="{'icon-timeline-checked':added, 'icon-timeline-add':!added}"></span>
  </div>
</div>
