@import '../../../variables';

:host {
    .ts-item {
        display: flex;
        padding: 8px 10px;
        position: relative;
        background-color: $white;
        justify-content: space-between;
        align-items: center;

        &:hover {
            cursor: pointer;
        }

        .add {
            float: right;
            margin: 8px 2px;
        }

        .mid {
            color: $platinum-grey;
        }

        +.ts-item {
            margin-top: 10px;
        }

        .loader {
            float: left;
            margin-right: 10px;
        }

        .icon {
            padding-right: 10px;
            font-size: 27px;
            color: $slate-gray;

            &.active {
                color: $lime-green;
            }
        }

        @media screen and (max-width: $mobile-max-width) {
            .last-value {
                display: block;
            }
        }
    }
}