@import "../../../variables";

.selectionsMenu {
    $entry-width: 130px;
    position: absolute;
    height: $selection-menu-height;
    width: 100%;
    background-color: $slate-gray;
    color: $white;

    .mobile {
        display: none;

        .entry {
            height: $selection-menu-height;
            line-height: $selection-menu-height;
            width: $entry-width;
            float: left;
            text-align: center;

            span {
                vertical-align: middle;

                +span {
                    padding-left: 5px;
                }
            }

            &:hover {
                cursor: pointer;
                background-color: $light-slate-gray;
            }

            .icon {
                font-size: 26px;
            }

            +.entry {
                border-left: solid 1px $geyser-gray;
            }

            &.provider {
                border-right: solid 1px $geyser-gray;
                min-width: 20%;
                padding: 10px 5px;

                .icon-provider {
                    float: left;
                }

                .providerlabel {
                    width: 75%;
                    padding: 4px;
                    white-space: nowrap;
                    float: left;
                    overflow: hidden;
                    text-align: left;
                    text-overflow: ellipsis;
                }

                .icon-arrow-down {
                    float: right;
                    font-size: 16px;
                    line-height: 26px;
                }
            }

            &.active {
                background-color: $royal-blue;

                &:hover {
                    background-color: $lavender-blue;
                }
            }
        }
    }

    .desktop {
        display: flex;
        flex-direction: row;

        .spacer {
            flex: 1;
            position: relative;

            .provider {
                max-width: 400px;
                width: 100%;
                position: absolute;
                left: 0;
                right: 0;
            }
        }

        .entry {
            height: $selection-menu-height;
            line-height: $selection-menu-height;
            width: $entry-width;
            float: left;
            text-align: center;

            span {
                vertical-align: middle;

                +span {
                    padding-left: 5px;
                }
            }

            &:hover {
                cursor: pointer;
                background-color: $light-slate-gray;
            }

            .icon {
                font-size: 26px;
            }

            +.entry {
                border-left: solid 1px $geyser-gray;
            }

            &.provider {
                border-right: solid 1px $geyser-gray;
                padding: 10px 5px;

                .icon-provider {
                    float: left;
                }

                .providerlabel {
                    width: 75%;
                    padding: 4px;
                    white-space: nowrap;
                    float: left;
                    overflow: hidden;
                    text-align: left;
                    text-overflow: ellipsis;
                }

                .icon-arrow-down {
                    float: right;
                    font-size: 16px;
                    line-height: 26px;
                }
            }

            &.active {
                background-color: $royal-blue;

                &:hover {
                    background-color: $lavender-blue;
                }
            }
        }
    }

    .center {
        margin-left: auto;
        margin-right: auto;
        width: 4*$entry-width + 3px;
        height: $selection-menu-height;
        border-left: solid 1px $geyser-gray;
        border-right: solid 1px $geyser-gray;
    }
}

@media screen and (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    .selectionsMenu {
        $entry-width: 109px;

        .desktop {
            .entry {
                width: $entry-width;

                &.provider {
                    .providerlabel {
                        width: 70%;
                    }
                }
            }

            .center {
                width: 4*$entry-width + 5px;
            }
        }

    }
}

.selectionContent,
.mapContent {
    position: absolute;
    right: 0;
    left: 0;
    top: $selection-menu-height;
    bottom: 0;

    .loadingNotifier {
        top: 10px;
        left: 10px;
    }

    @media screen and (max-width: $mobile-max-width) {
        .loadingNotifier {
            top: inherit;
            bottom: 10px;
        }
    }
}

@media screen and (max-width: $mobile-max-width) {
    $height: 50px;

    .selectionsMenu {
        bottom: 0;
        height: $height;

        .desktop {
            display: none;
        }

        .mobile {
            display: inline;

            .entry {
                width: 20%;
                height: $height;
                line-height: $height;

                span+span {
                    display: none;
                }

                div {
                    display: none;
                }

                &.provider {
                    padding: 0px;

                    .icon-provider {
                        float: none;
                    }
                }
            }
        }
    }

    .selectionContent,
    .mapContent {
        top: 0;
        bottom: $height;
    }
}