@import '../../../variables';

.flag {
    margin-bottom: 3px;
    margin-right: 8px;
}

.flag {
    width: 16px;
    height: 12px;
    background-image: url('~src/assets/images/flags.png');
}

.flag.flag-de {
    background-position: -80px -33px;
}

.flag.flag-en {
    background-position: -176px -44px
}
