@import '../../../variables';

.help {
    overflow: auto;
    padding: 10px;
    height: 100%;
    width: 100%;

    .wv-button {
        margin: 0px 3px;
    }

    .contents {
        a {
            display: block;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .image {
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border: solid 1px $royal-blue;
        margin-left: auto;
        margin-right: auto;

        &.mobile {
            max-width: 360px;
            height: 570px;
        }

        &.desktop {
            max-width: 1024px;
            height: 640px;
        }
    }

    .text {
        padding-top: 10px;
    }

    @media screen and (min-width: $tablet-min-width) {

        .image.mobile,
        .text.mobile {
            display: none;
        }
    }

    @media screen and (max-width: $mobile-max-width) {

        .image.desktop,
        .text.desktop {
            display: none;
        }
    }

    &.de {
        .diagram-mobile {
            background-image: url('~src/assets/images/help/diagram-mobile-de.jpg');
        }

        .diagram-desktop {
            background-image: url('~src/assets/images/help/diagram-desktop-de.jpg');
        }

        .favorites-mobile {
            background-image: url('~src/assets/images/help/favorites-mobile-de.jpg');
        }

        .favorites-desktop {
            background-image: url('~src/assets/images/help/favorites-desktop-de.jpg');
        }

        .legend-mobile {
            background-image: url('~src/assets/images/help/legend-mobile-de.jpg');
        }

        .legend-desktop {
            background-image: url('~src/assets/images/help/legend-desktop-de.jpg');
        }

        .list-selection-mobile {
            background-image: url('~src/assets/images/help/list-selection-mobile-de.jpg');
        }

        .list-selection-desktop {
            background-image: url('~src/assets/images/help/list-selection-desktop-de.jpg');
        }

        .map-selection-mobile {
            background-image: url('~src/assets/images/help/map-selection-mobile-de.jpg');
        }

        .map-selection-desktop {
            background-image: url('~src/assets/images/help/map-selection-desktop-de.jpg');
        }

        .settings-mobile {
            background-image: url('~src/assets/images/help/settings-mobile-de.jpg');
        }

        .settings-desktop {
            background-image: url('~src/assets/images/help/settings-desktop-de.jpg');
        }

        .start-mobile {
            background-image: url('~src/assets/images/help/start-mobile-de.jpg');
        }

        .start-desktop {
            background-image: url('~src/assets/images/help/start-desktop-de.jpg');
        }
    }

    &.en {
        .diagram-mobile {
            background-image: url('~src/assets/images/help/diagram-mobile-en.jpg');
        }

        .diagram-desktop {
            background-image: url('~src/assets/images/help/diagram-desktop-en.jpg');
        }

        .favorites-mobile {
            background-image: url('~src/assets/images/help/favorites-mobile-en.jpg');
        }

        .favorites-desktop {
            background-image: url('~src/assets/images/help/favorites-desktop-en.jpg');
        }

        .legend-mobile {
            background-image: url('~src/assets/images/help/legend-mobile-en.jpg');
        }

        .legend-desktop {
            background-image: url('~src/assets/images/help/legend-desktop-en.jpg');
        }

        .list-selection-mobile {
            background-image: url('~src/assets/images/help/list-selection-mobile-en.jpg');
        }

        .list-selection-desktop {
            background-image: url('~src/assets/images/help/list-selection-desktop-en.jpg');
        }

        .map-selection-mobile {
            background-image: url('~src/assets/images/help/map-selection-mobile-en.jpg');
        }

        .map-selection-desktop {
            background-image: url('~src/assets/images/help/map-selection-desktop-en.jpg');
        }

        .settings-mobile {
            background-image: url('~src/assets/images/help/settings-mobile-en.jpg');
        }

        .settings-desktop {
            background-image: url('~src/assets/images/help/settings-desktop-en.jpg');
        }

        .start-mobile {
            background-image: url('~src/assets/images/help/start-mobile-en.jpg');
        }

        .start-desktop {
            background-image: url('~src/assets/images/help/start-desktop-en.jpg');
        }
    }
}