<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">{{'time-facet.from' | translate}}</span>
  </div>
  <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="from" (ngModelChange)="onChange()"
    ngbDatepicker #fromDp="ngbDatepicker" container="body" placement="top-left">
  <div class="input-group-append">
    <div class="wv-button calendar" (click)="fromDp.toggle()">
      <span class="icon icon-calendar"></span>
    </div>
    <div class="wv-button today" (click)="selectFromToday()">
      <span>{{'time-facet.today' | translate}}</span>
    </div>
  </div>
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">{{'time-facet.to' | translate}}</span>
  </div>
  <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="to" (ngModelChange)="onChange()"
    ngbDatepicker #toDp="ngbDatepicker" container="body" placement="top-left">
  <div class="input-group-append">
    <div class="wv-button calendar" (click)="toDp.toggle()">
      <span class="icon icon-calendar"></span>
    </div>
    <div class="wv-button today" (click)="selectToToday()">
      <span>{{'time-facet.today' | translate}}</span>
    </div>
  </div>
</div>

<div class="wv-button reset-timespan" *ngIf="selectedTimespan" (click)="clearTimespan()">
  <span>{{'time-facet.reset-timespan' | translate}}</span>
</div>
