<div class="header">
  <div class="left">
    <div class="banner" routerLink="/start"> </div>
  </div>
  <div class="right">
    <div class="menu">
      <div class="navTool" (click)="openImprint()">
        <div class="icon icon-imprint"></div>
        <p class="mid" translate="imprint.header"></p>
      </div>
      <div class="navTool" routerLink="/help">
        <span class="icon icon-help"></span>
        <p class="mid" translate="main.help"></p>
      </div>
      <div class="navTool">
        <span class="icon icon-settings"></span>
        <p class="mid" translate="main.settings"></p>
      </div>
    </div>
  </div>
  <div class="center">
    <div class="navigation">
      <div class="timeseries" routerLinkActive="active" routerLink="/diagram">
        <div class="navTool">
          <div class="icon icon-timeline">
            <p class="small counter" [ngClass]="{'active': datasetCount}">
              {{datasetCount}}
            </p>
          </div>
          <p class="mid" translate="main.timeseries"></p>
        </div>
      </div>
      <div class="favorites" routerLinkActive="active" routerLink="/favorite">
        <div class="navTool">
          <div class="icon icon-star-filled">
            <!-- <p class="small counter" [ngClass]="{'active': favCount}">
              {{favCount}}
            </p> -->
          </div>
          <p class="mid" translate="main.favorite"></p>
        </div>
      </div>
    </div>
    <div class="addTsButton" [ngClass]="{'active': selectionNavigation.selectionMode()}"
      (click)="selectionNavigation.openSelection();"></div>
  </div>
</div>
