<div class="modal-header">
  <div class="modal-title">
    <span>{{station.label}}</span>
  </div>
  <div class="close icon icon-cancel" (click)="activeModal.dismiss()"></div>
</div>
<div class="modal-body">
  <div class="loading" *ngIf="counter">
    <div class="loader dark"></div>
    <span translate="map.station.loading"></span>
  </div>
  <div *ngFor="let timeseries of filteredTimeseries">
    <!-- TODO: Translation-->
    <div class="ts-header mid">{{timeseries.parameters.phenomenon.label}}</div>
    <app-timeseries-item [timeseries]="timeseries"></app-timeseries-item>
  </div>
  <div>
    <div class="show-all big" *ngIf="additionalTsCount > 0" (click)="showAdditionalTs = !showAdditionalTs">
      <div class="icon" [ngClass]="{'icon-arrow-down': !showAdditionalTs, 'icon-arrow-up': showAdditionalTs}"></div>
      <div>
        <span translate="map.station.showAll"></span>
      </div>
    </div>
    <div *ngIf="showAdditionalTs">
      <div *ngFor="let timeseries of timeseriesList">
        <div class="ts-header mid">{{timeseries.parameters.phenomenon.label}}</div>
        <app-timeseries-item [timeseries]="timeseries"></app-timeseries-item>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer station-footer">
  <!--<div class="wv-button addAll"
         (click)="addAllTs()">
        <span class="icon icon-timeline-show"></span>
    </div>-->
  <div class="wv-button showChart" (click)="navigateToDiagram()">
    <span class="icon icon-timeline"></span>
    <span class="description" translate="map.station.showChart"></span>
  </div>
</div>
