<div class="navigation">
  <div class="timeseries" routerLinkActive="active" routerLink="/diagram">
    <div class="navTool">
      <div class="icon icon-timeline">
        <p class="small counter" [ngClass]="{'active': datasetCount}">
          {{datasetCount}}
        </p>
      </div>
      <p class="mid" translate="main.diagram"></p>
    </div>
  </div>
  <div class="favorites" routerLinkActive="active" routerLink="/favorite">
    <div class="navTool">
      <div class="icon icon-star-filled">
        <p class="small counter" [ngClass]="{'active': favoriteCount}">
          {{favoriteCount}}
        </p>
      </div>
      <p class="mid" translate="main.favorite"></p>
    </div>
  </div>
</div>
<div class="addTsButton" [ngClass]="{'active': selectionNavigation.selectionMode()}"
  (click)="selectionNavigation.openSelection();"></div>
