@import './../../../variables';

ngb-datepicker {

    .btn {
        color: white;
    }

    ::ng-deep {
        .btn {
            color: $royal-blue;
            &:active {
                color: $white;
                background-color: $royal-blue;
            }
            &:focus {
                color: $royal-blue;
            }
        }

        .bg-primary.text-white {
            background-color: $royal-blue !important;
        }
    }
}