<div class="modal-header">
  <div class="modal-title" translate="timeSelection.header"></div>
  <div class="close icon icon-cancel" (click)="activeModal.dismiss()"></div>
</div>
<div class="modal-body time">
  <div class="modal-inline-header" translate="timeSelection.presetsHeader"></div>
  <div class="modal-inline-block">
    <div class="preset-button">
      <app-timespan-button label="{{'timeselection.preset.last6hours' | translate}}" [timespanFunc]="last6Hours"
        (onTimespanSelected)="activeModal.close($event)"></app-timespan-button>
    </div>
    <div class="preset-button">
      <app-timespan-button label="{{'timeselection.preset.last24hours' | translate}}" [timespanFunc]="last24Hours"
        (onTimespanSelected)="activeModal.close($event)"></app-timespan-button>
    </div>
    <div class="preset-button">
      <app-timespan-button label="{{'timeselection.preset.lastWeek' | translate}}" [timespanFunc]="lastWeek"
        (onTimespanSelected)="activeModal.close($event)"></app-timespan-button>
    </div>
    <div class="preset-button">
      <app-timespan-button label="{{'timeselection.preset.lastMonth' | translate}}" [timespanFunc]="lastMonth"
        (onTimespanSelected)="activeModal.close($event)"></app-timespan-button>
    </div>
    <div class="preset-button">
      <app-timespan-button label="{{'timeselection.preset.last3Months' | translate}}" [timespanFunc]="last3Months"
        (onTimespanSelected)="activeModal.close($event)"></app-timespan-button>
    </div>
  </div>
  <!-- <div class="modal-inline-header" translate="timeSelection.custom.header"></div>
  <div class="modal-inline-block">
    <div ng-include="'templates/time/custom-time-range-selection.html'" />
  </div> -->
</div>

<div class="modal-body time">
  <div class="modal-inline-header" translate="timeSelection.custom.header"></div>
  <div class="modal-inline-block">

    <!-- <ngb-accordion style="width: 100%;" class="ngb-accordion-custom" [closeOthers]="true" activeIds="static-1"> -->

      <!-- <ngb-panel id="static-1"> -->
        <!-- <ng-template ngbPanelTitle>
          <span>{{'diagram-export.start' | translate}} {{start}} - {{'diagram-export.end' | translate}} {{end}}</span>
        </ng-template> -->
        <!-- <ng-template class="mid description" ngbPanelContent> -->
          <app-date-picker [timestamp]="timespan" (onDateSelected)="onTimepickerRangeSelected($event)">
          </app-date-picker>
        <!-- </ng-template> -->
      <!-- </ngb-panel> -->

    <!-- </ngb-accordion> -->

    <div class="preset-button">
      <app-timespan-button label="{{'ok' | translate}}" [timespanFunc]="customTime"
        (onTimespanSelected)="activeModal.close($event)">
      </app-timespan-button>
    </div>

  </div>
</div>