@import '../../../variables';

.time-modal .modal-content {
    width: fit-content;
}

.modal-body.time {
    .modal-inline-block {
        background-color: $white;
        padding: 10px;
    }

    .preset-button {
        width: 30%;
        margin: 3px 5px;
        display: inline-block;

        @media screen and (max-width: $mobile-max-width) {
            width: 100%;
            margin: 5px 0px;
        }
    }

    ::ng-deep .ngb-accordion-custom .card .card-header {
        padding: 0.2rem 1rem !important;

        .btn {
            color: $royal-blue;

            &:active {
                color: $white;
                background-color: $royal-blue;
            }

            &:focus {
                color: $royal-blue;
            }
        }
    }

}