<div class="modal-header">
  <div class="modal-title" translate="timeSelection.header"></div>
  <div class="close icon icon-cancel" (click)="activeModal.dismiss()"></div>
</div>
<div class="modal-body time">
  <div class="modal-inline-header" translate="timeSelection.presetsHeader"></div>
  <div class="modal-inline-block">
    <div class="preset-button">
      <app-timespan-button label="{{'timeselection.preset.last6hours' | translate}}" [timespanFunc]="last6Hours"
        (onTimespanSelected)="activeModal.close($event)"></app-timespan-button>
    </div>
    <div class="preset-button">
      <app-timespan-button label="{{'timeselection.preset.last24hours' | translate}}" [timespanFunc]="last24Hours"
        (onTimespanSelected)="activeModal.close($event)"></app-timespan-button>
    </div>
    <div class="preset-button">
      <app-timespan-button label="{{'timeselection.preset.lastWeek' | translate}}" [timespanFunc]="lastWeek"
        (onTimespanSelected)="activeModal.close($event)"></app-timespan-button>
    </div>
    <div class="preset-button">
      <app-timespan-button label="{{'timeselection.preset.lastMonth' | translate}}" [timespanFunc]="lastMonth"
        (onTimespanSelected)="activeModal.close($event)"></app-timespan-button>
    </div>
    <div class="preset-button">
      <app-timespan-button label="{{'timeselection.preset.last3Months' | translate}}" [timespanFunc]="last3Months"
        (onTimespanSelected)="activeModal.close($event)"></app-timespan-button>
    </div>
  </div>
  <!-- <div class="modal-inline-header" translate="timeSelection.custom.header"></div>
  <div class="modal-inline-block">
    <div ng-include="'templates/time/custom-time-range-selection.html'" />
  </div> -->
</div>

<div class="modal-body time">
  <div class="modal-inline-header" translate="timeSelection.custom.header"></div>
  <div class="modal-inline-block">

    <ngb-accordion [closeOthers]="true" activeIds="static-1">
      <ngb-panel id="static-1" class="wv-button">
        <ng-template ngbPanelTitle>
          <span>{{'timeSelection.custom.start' | translate}} {{tsStart}}</span>
        </ng-template>
        <ng-template class="mid description" ngbPanelContent>
          <app-datepicker [timestamp]="timespan.from" [seconds]="false"
            (onDateSelected)="onTimepickerSelected($event, true)">
          </app-datepicker>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="static-2">
        <ng-template ngbPanelTitle>
          <span>{{'timeSelection.custom.end' | translate}} {{tsEnd}}</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <app-datepicker [timestamp]="timespan.to" [minDate]="timespan.from" [seconds]="false"
            (onDateSelected)="onTimepickerSelected($event, false)"></app-datepicker>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>

    <div class="preset-button">
      <app-timespan-button label="{{'ok' | translate}}" [timespanFunc]="customTime"
        (onTimespanSelected)="activeModal.close($event)">
      </app-timespan-button>
    </div>

  </div>
</div>