@import '../../../variables';

$mobile-sidebar-width: 300px;

:host {

    .mobile-sidebar-toggle {
        display: none;
    }

    .sidebar-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .selection {
            flex: 1;
            overflow: hidden;
        }
    }

    .map {
        width: 100%;
        height: 100%;
        position: relative;

        &.withSideMenu {
            padding-right: 400px;
        }

        .zoom-control,
        .locate-control,
        .search-control,
        .layers-control {
            position: absolute;
            z-index: 400;
        }

        .zoom-control {
            left: 20px;
            bottom: 78px;
        }

        .locate-control {
            left: 20px;
            bottom: 20px;
        }

        .search-control {
            left: 80px;
            bottom: 20px;
        }

        .layers-control {
            left: 20px;
            bottom: 174px;
        }

        ::ng-deep {
            .wv-button {
                background-color: $white;
                color: $smoke-black;

                &.selected {
                    background-color: $royal-blue;
                    color: $white;

                    &:hover {
                        background-color: $lavender-blue;
                    }
                }

                &:hover {
                    background-color: $geyser-gray;
                }
            }
        }
    }

    @media screen and (max-width: $mobile-max-width) {
        .desktop-sidebar {
            display: none;
        }

        .mobile-sidebar-toggle {
            display: block;
        }

        .map.withSideMenu {
            padding-right: 0px;
            margin-left: -$mobile-sidebar-width;
        }

        .selection-menu.withSideMenu {
            margin-left: -$mobile-sidebar-width;
        }

        .mobile-wrapper.sideMenuActive {
            margin-left: -$mobile-sidebar-width;
        }

        .map {
            .search-control {
                left: 20px;
                top: 10px;
                bottom: unset;
            }

            .locate-control {
                top: 60px;
                bottom: unset;
            }

            .zoom-control {
                display: none;
            }

            .layers-control {
                top: 110px;
                bottom: unset;
            }
        }
    }
}