<div class="mobile-wrapper">
  <app-header></app-header>

  <div class="content">
    <app-selection-menu></app-selection-menu>
    <div class="selectionContent" *ngIf="selectedProviderList.length > 0">
      <app-desktop-list-selector *ngIf="!mobile" [parameters]="stationParams" [selectorId]="'station'" [filter]="filter"
        [providerList]="selectedProviderList" (toDiagram)="toDiagram()">
      </app-desktop-list-selector>

      <app-mobile-list-selector *ngIf="mobile" [parameters]="stationParams" [selectorId]="'station'"
        [providerList]="selectedProviderList" (toDiagram)="toDiagram()"></app-mobile-list-selector>
    </div>
  </div>

  <app-footer></app-footer>
</div>
