@import './../../../variables';

:host {

    table {
        .label {
            text-align: right;
            padding-right: 10px;
        }
    }

    ::ng-deep .ngb-accordion-custom .card .card-header {
        padding: 0.2rem 1rem !important;

        .btn {
            color: $royal-blue;
            &:active {
                color: $white;
                background-color: $royal-blue;
            }
            &:focus {
                color: $royal-blue;
            }
        }
    }

    .footer {
        display: flex;

        .wv-button {
            +.wv-button {
                margin-left: 10px;
            }
        }

        .spacer {
            flex: 1;
        }
    }
}