<div class="modal-header">
  <div class="modal-title" translate="export-timeseries-data.header"></div>
  <div class="close icon icon-cancel" (click)="activeModal.dismiss()"></div>
</div>
<div class="modal-body">
  <n52-dataset-export [inputId]="internalId" [exportOptions]="exportOptions" (onMetadataChange)="onMetadata($event)"
    (onLoadingChange)="onLoading($event)"></n52-dataset-export>

  <table style="width:100%">
    <tr>
      <td class="label">{{'export-timeseries-data.labels.measure-parameter' | translate}}</td>
      <td>{{dataset.parameters.phenomenon.label}}</td>
    </tr>
    <tr>
      <td class="label">{{'export-timeseries-data.labels.unit' | translate}}</td>
      <td>{{dataset.uom}}</td>
    </tr>
    <tr>
      <td class="label">{{'export-timeseries-data.labels.first-value' | translate}}</td>
      <td>{{dataset.firstValue.timestamp | tzDate : 'L LT z'}}</td>
    </tr>
    <tr>
      <td class="label">{{'export-timeseries-data.labels.last-value' | translate}}</td>
      <td>{{dataset.lastValue.timestamp| tzDate : 'L LT z'}}</td>
    </tr>
  </table>

  <div class="input-group mb-3">
    <ngb-accordion style="width: 100%; padding: 0.2rem;" class="ngb-accordion-custom" [closeOthers]="true" activeIds="static-1">

      <ngb-panel id="static-1">
        <ng-template ngbPanelTitle>
          <span>{{'diagram-export.start' | translate}} {{start}} {{'diagram-export.end' | translate}} {{end}}</span>
        </ng-template>
        <ng-template class="mid description" ngbPanelContent>
          <app-date-picker [timestamp]="timespan" (onDateSelected)="onTimepickerRangeSelected($event)">
          </app-date-picker>
        </ng-template>
      </ngb-panel>

      <!-- <ngb-panel id="static-2">
        <ng-template ngbPanelTitle>
          <span>{{'diagram-export.start' | translate}} {{start}}</span>
        </ng-template>
        <ng-template class="mid description" ngbPanelContent>
          <app-datepicker [timestamp]="timespan.from" [seconds]="false"
            (onDateSelected)="onTimepickerSelected($event, true)">
          </app-datepicker>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="static-3">
        <ng-template ngbPanelTitle>
          <span>{{'diagram-export.end' | translate}} {{end}}</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <app-datepicker [timestamp]="timespan.to" [minDate]="timespan.from" [seconds]="false"
            (onDateSelected)="onTimepickerSelected($event, false)"></app-datepicker>
        </ng-template>
      </ngb-panel> -->
    </ngb-accordion>
  </div>

  <div class="footer">
    <div class="wv-button" (click)="onCSVDownload()">
      <span class="mid description">{{'export-timeseries-data.csv-export-button' | translate}}</span>
    </div>
    <div class="wv-button" (click)="onXSLXDownload()">
      <span class="mid description">{{'export-timeseries-data.xls-export-button' | translate}}</span>
    </div>
    <div class="spacer"></div>
    <div class="wv-button" (click)="activeModal.dismiss()">
      <span class="mid description">{{'controls.cancel' | translate}}</span>
    </div>
  </div>

</div>