:host {
    bottom: 20px;
    left: 50%;
    position: fixed;
    transform: translate(-50%, 0px);
    z-index: 9999;

    .toast-body {
        max-width: 400px;
    }

    .info {
        background-color: #d4edda;
        border-color: #c3e6cb;
    }

    .warn {
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }
}