@import '../../../variables';

.language-block {
    padding: 8px;
    display: flex;
    background-color: $white;
    align-items: center;

    :first-child {
        flex: 1;
    }
}

.timezone-block {
    margin-top: 10px;
    padding: 8px;
    display: flex;
    background-color: $white;
    align-items: center;

    :first-child {
        flex: 1;
    }
}

.toggle-block.reset {
    .wv-button {
        background-color: $brick-red;
        float: right;
        margin: -7px 0px;
    }

    &:hover {
        cursor: default;
        background-color: $white !important;
    }
}