@import "../../variables";

$radius: 8px;

.modal-dialog {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;

    .modal-content {
        overflow: hidden;
        border-radius: $radius;
        background-color: $geyser-gray;

        .modal-header {
            background-color: $snow-grey;
            box-shadow: inset 0 -1px 0 fade-out($slate-gray, 0.75);

            .modal-title {
                flex: 1;
                text-align: center;
                text-transform: uppercase;
            }

            .close {
                &:hover {
                    cursor: pointer;
                }
            }
        }

        .modal-body {
            overflow: auto;
            border-radius: 8px;

            .modal-inline-header {
                text-transform: uppercase;
                margin: 10px 0px 3px;
            }

            .modal-inline-block {
                &+.modal-inline-block {
                    margin-top: 10px;
                }
            }
        }

        .modal-footer {
            background-color: $geyser-gray;
            border-top: 1px solid fade-out($slate-gray, 0.75);
            padding: 10px 15px;

            .wv-button {
                float: right;

                &:hover {
                    cursor: pointer;
                }

                &+.wv-button {
                    margin-right: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: $mobile-max-width) {
    .modal-dialog {
        .modal-header {
            .modal-title {
                text-align: left;
            }
        }
    }
}

.fit-modal .modal-content {
    width: fit-content;
}
