@import '../../../variables';

:host {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: fade-out($color: $light-slate-gray, $amount: 0.5);

    .loader {
        color: white;
    }
}