@import '../../../variables';

:host {
    $overview-height: 100px;
    $controls-height-desktop: 75px;
    $controls-height-mobile: 65px;

    .mobile-sidebar {
        display: none;
    }

    .timeseries-view {
        height: 100%;
        width: 100%;

        &.legendActive {
            padding-right: 400px;
        }

        .empty {
            width: 420px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            color: $royal-blue;

            h1 {
                margin-top: 120px;
            }

            .pic {
                margin-top: 60px;
                margin-bottom: 60px;
                width: 412px;
                height: 136px;
                margin-left: auto;
                margin-right: auto;
                background-image: url('~src/assets/images/zeitreihen-leer.png');
            }
        }

        @media screen and (max-width: $mobile-max-width) {
            .empty {
                width: 90%;

                h1 {
                    margin-top: 10%;
                }

                .pic {
                    margin-top: 5%;
                    margin-bottom: 5%;
                    width: 100%;
                    max-width: 412px;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }

        .view {
            width: 100%;
            height: 100%;
            overflow: hidden;
            display: flex;
            flex-direction: column;

            .controls {
                display: flex;
                height: $controls-height-desktop;
                padding-top: 28px;

                .hide-y-axis {
                    display: none;
                }

                .time-shifter {
                    margin-left: 30px;
                }

                .time-button {
                    margin-left: 1px;
                }

                .export-button {
                    margin-left: 30px;
                }

                @media screen and (max-width: $mobile-max-width) and (orientation: portrait) {
                    height: $controls-height-mobile;
                    padding-top: 16px;

                    .hide-y-axis {
                        display: block;
                        margin-left: 10px;
                    }

                    .time-shifter {
                        margin-left: 10px;
                    }

                    .one-month {
                        display: none;
                    }

                    .export-button {
                        display: none;
                    }
                }
            }

            .chart {
                flex: 1;
                position: relative;

                ::ng-deep {
                    .copyright-text {
                        fill: #d43f3a;
                        font-size: 12px;
                    }

                    .d3 text.yaxisTextLabel {
                        font-size: 12px;
                        font-family: inherit;
                    }
                }
            }

            .overviewChart {
                height: $overview-height;
                position: relative;
            }

            @media screen and (max-width: $mobile-max-width) {
                .chart {
                    padding-bottom: 12px;
                }

                .overviewChart {
                    display: none;
                }
            }
        }
    }

    @media screen and (max-width: $tablet-max-width) {
        .desktop-sidebar {
            display: none;
        }

        .mobile-sidebar {
            display: block;
        }

        .timeseries-view {
            &.legendActive {
                padding-right: 0px;
                margin-left: -300px;
            }
        }

        .mobile-wrapper.legendActive {
            margin-left: -300px;
        }
    }

    @media screen and (min-width: $tablet-max-width + 1) and (max-width: 1200px) {
        .timeseries-view {
            &.legendActive {
                .view {
                    .controls {
                        * {
                            flex: 1 0 auto;
                        }
                    }
                }
            }
        }
    }

    .legend {
        $height-footer-desktop: 60px;

        .legend-body {
            overflow-y: auto;
            position: absolute;
            top: 0;
            bottom: $height-footer-desktop;
            width: 100%;
        }

        .legend-footer-shadow {
            width: 100%;
            height: 5px;
            opacity: 0.25;
            background-image: -webkit-linear-gradient(270deg, transparent 0%, black 100%);
            background-image: linear-gradient(180deg, transparent 0%, black 100%);
            position: absolute;
            bottom: $height-footer-desktop;
        }

        .legend-footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 10px 0px;
            height: $height-footer-desktop;

            .navTool {
                padding: 0px 8px;
                display: inline-block;
                opacity: 0.5;

                .icon {
                    color: $white;

                    &.clicked {
                        color: $gold;
                    }
                }

                &.active {
                    opacity: 1;
                }

                p {
                    color: $white;
                }

                &.delete-all {
                    float: right;
                }
            }
        }

        @media screen and (max-width: $mobile-max-width) {
            $height-mobile: 50px;

            .legend-body {
                bottom: $height-mobile;
            }

            .legend-footer-shadow {
                position: absolute;
                bottom: $height-mobile;
            }

            .legend-footer {
                height: $height-mobile;

                .navTool {
                    p {
                        display: none;
                    }
                }
            }
        }
    }
}