@import '../../../../variables';

:host {
    .toggle-block {
        border-top: solid 2px $geyser-gray;
        background-color: $slate-gray;

        .toggle-header {
            color: $white;
            font-size: 13px;
            line-height: 18px;
            padding-left: 12px;
        }
    }
}