<app-selection-menu></app-selection-menu>
<div class="selectionContent" ng-controller="WvPhenomenonParameterListCtrl">
  <app-side-menu [content]="facetContent" width=400 side=left [isActive]="sideMenuActive"
    (toggled)="sideMenuActive = $event"></app-side-menu>
  <ng-template #facetContent>
    <app-facets></app-facets>
  </ng-template>
  <div class="list" [ngClass]="{'withSideMenu': sideMenuActive}">
    <div class="container">
      <app-result-list [facetSearchService]="facetSearch" (selected)="onSelectedTs($event)"></app-result-list>
    </div>
  </div>
</div>
