<div class="entry" routerLinkActive="active" [routerLink]="['/selection-map']">
  <span class="icon icon-map"></span>
  <span class="mid" translate="main.addTimeseriesNavigation.map"></span>
</div>
<div class="entry" routerLinkActive="active" [routerLink]="['/selection-list']">
  <span class="icon icon-category"></span>
  <span class="mid" translate="main.addTimeseriesNavigation.list"></span>
</div>
<div class="entry">
  <span class="icon icon-timeline-start"></span>
  <span class="mid" translate="main.addTimeseriesNavigation.station"></span>
</div>
<div class="entry">
  <span class="icon icon-phenomenon"></span>
  <span class="mid" translate="main.addTimeseriesNavigation.phenomenon"></span>
</div>
