:host {
    display: flex;

    .calendar {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .calendar-prev {
        border-radius: 0px;
    }

    .calendar-dates {
        border-radius: 0px;

        .description {
            display: inline;
        }
    }

    .calendar-next {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        margin-right: 1px;
    }
}