<div class="wv-button calendar" (click)="open()">
  <span class="icon icon-calendar"></span>
</div>
<div class="wv-button calendar-prev" (click)="back()">
  <span class="icon icon-arrow-left"></span>
</div>
<div class="wv-button calendar-dates" (click)="open()">
  <span class="mid description">{{timespan.from | tzDate : 'DD.MM.YY'}} - {{timespan.to | tzDate : 'DD.MM.YY'}}</span>
</div>
<div class="wv-button calendar-next" (click)="forward()">
  <span class="icon icon-arrow-right"></span>
</div>
