<app-loading-overlay *ngIf="loading"></app-loading-overlay>
<div class="facets col">
  <div class="facet">
    <div class="facet-header">
      <div class="facet-header-label">{{'facets.category' | translate}}</div>
      <div class="autocomplete mb-1 mr-1">
        <input type="text" class="form-control" placeholder="{{'facets.search-placeholder' | translate}}"
          (input)="categoryAutocomplete = $event.target.value">
      </div>
    </div>
    <app-parameter-facet [facetSearchService]="facetSearch" [type]="categoryType"
      [textualFilter]="categoryAutocomplete"></app-parameter-facet>
  </div>
  <div class="facet">
    <div class="facet-header">
      <div class="facet-header-label mr-1">{{'facets.phenomenon' | translate}}</div>
      <div class="autocomplete mb-1">
        <input type="text" class="form-control" placeholder="{{'facets.search-placeholder' | translate}}"
          (input)="phenomenonAutocomplete = $event.target.value">
      </div>
    </div>
    <app-parameter-facet [facetSearchService]="facetSearch" [type]="phenomenonType"
      [textualFilter]="phenomenonAutocomplete"></app-parameter-facet>
  </div>
  <div class="facet">
    <div class="facet-header">
      <div class="facet-header-label mr-1">{{'facets.station' | translate}}</div>
      <div class="autocomplete mb-1">
        <input type="text" class="form-control" placeholder="{{'facets.search-placeholder' | translate}}"
          (input)="featureAutocomplete = $event.target.value">
      </div>
    </div>
    <app-parameter-facet [facetSearchService]="facetSearch" [type]="featureType" [textualFilter]="featureAutocomplete"
      [sort]="'ascAlphabet'"></app-parameter-facet>
  </div>
  <app-time-slider [facetSearchService]="facetSearch"></app-time-slider>
  <button class="btn reset wv-button" (click)="resetAll()" [disabled]="!facetsActive">
    <span>{{'facets.reset-all' | translate}}</span>
  </button>
</div>
