<div class="modal-header">
  <div class="modal-title" translate="diagram-export.header"></div>
  <div class="close icon icon-cancel" (click)="activeModal.dismiss()"></div>
</div>
<div class="modal-body">

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">{{'diagram-export.title' | translate}}</span>
    </div>
    <input type="text" class="form-control" [(ngModel)]="title">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">{{'diagram-export.start' | translate}}</span>
    </div>
    <input type="datetime-local" class="form-control" [ngModel]="start | date:'yyyy-MM-ddThh:mm'"
      (ngModelChange)="setStart($event)">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">{{'diagram-export.end' | translate}}</span>
    </div>
    <input type="datetime-local" class="form-control" [ngModel]="end | date:'yyyy-MM-ddThh:mm'"
      (ngModelChange)="setEnd($event)">
  </div>

  <div *ngFor="let id of timeseriesService.datasetIds">
    <app-no-data-hint [datasetId]="id" [timeInterval]="timespan"></app-no-data-hint>
  </div>

  <div class="footer">
    <app-diagram-export-button [title]="title" [timespan]="timespan" [datasetIds]="timeseriesService.datasetIds"
      [datasetOptions]="timeseriesService.datasetOptions" [showLegend]="showLegend"
      [showFirstLastDate]="showFirstLastDate"></app-diagram-export-button>
    <div class="spacer"></div>
    <div class="wv-button" (click)="activeModal.dismiss()">
      <span class="mid description">{{'controls.cancel' | translate}}</span>
    </div>
  </div>

</div>
