<div class="modal-header">
  <div class="modal-title" translate="diagram-export.header"></div>
  <div class="close icon icon-cancel" (click)="activeModal.dismiss()"></div>
</div>
<div class="modal-body">

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">{{'diagram-export.title' | translate}}</span>
    </div>
    <input type="text" class="form-control" [(ngModel)]="title">
  </div>

  <div class="input-group mb-3">
    <ngb-accordion style="width: 100%; padding: 0.2rem;" class="ngb-accordion-custom" [closeOthers]="true" activeIds="static-1">

      <ngb-panel id="static-1">
        <ng-template ngbPanelTitle>
          <span>{{'diagram-export.start' | translate}} {{start}} {{'diagram-export.end' | translate}} {{end}}</span>
        </ng-template>
        <ng-template class="mid description" ngbPanelContent>
          <app-date-picker [timestamp]="timespan" (onDateSelected)="onTimepickerRangeSelected($event)">
          </app-date-picker>
        </ng-template>
      </ngb-panel>

      <!-- <ngb-panel id="static-2">
        <ng-template ngbPanelTitle>
          <span>{{'diagram-export.start' | translate}} {{start}}</span>
        </ng-template>
        <ng-template class="mid description" ngbPanelContent>
          <app-datepicker [timestamp]="timespan.from" [seconds]="false"
            (onDateSelected)="onTimepickerSelected($event, true)">
          </app-datepicker>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="static-3">
        <ng-template ngbPanelTitle>
          <span>{{'diagram-export.end' | translate}} {{end}}</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <app-datepicker [timestamp]="timespan.to" [minDate]="timespan.from" [seconds]="false"
            (onDateSelected)="onTimepickerSelected($event, false)"></app-datepicker>
        </ng-template>
      </ngb-panel> -->
    </ngb-accordion>
  </div>

  <div *ngFor="let id of timeseriesService.datasetIds">
    <app-no-data-hint [datasetId]="id" [timeInterval]="timespan"></app-no-data-hint>
  </div>

  <div class="footer">
    <app-diagram-export-button [title]="title" [timespan]="timespan" [datasetIds]="timeseriesService.datasetIds"
      [datasetOptions]="timeseriesService.datasetOptions" [showLegend]="showLegend"
      [showFirstLastDate]="showFirstLastDate"></app-diagram-export-button>
    <div class="spacer"></div>
    <div class="wv-button" (click)="activeModal.dismiss()">
      <span class="mid description">{{'controls.cancel' | translate}}</span>
    </div>
  </div>

</div>